<form method="post" class="form center-form" enctype="multipart/form-data">
    <h2>Add Image</h2>
    <div class="form-group">
        <label for="image">Upload image</label>
        <input type="file" id="image" class="input-field" name="image" accept='.jpg,.jpeg,.png' required="required" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="input-field" name="description" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="form-btn btn" />
    </div>
</form>